<%= @question.body %>

<p>
<% if current_member.try(:admin?)%>
<%= link_to "Delete Question", question_path, method: :delete, data: {confirm: "Really delete the question?"} %>
</p>
<% end %>

<% if member_signed_in? %>
  <%= render partial: "comments/form"%>
<% else %>
  <%= link_to "Sign in to leave a comment!", new_member_session_path%>
<% end %>
<%= render partial: "comment", collection: @question.comments %>


<%= link_to ">> Questions", questions_path%>
