<div class="scale-name-container">
  <%= link_to "Scales", "/scales", class: "basic-link", id: "link-to-scales" %>
  <h1 id="scale-name">Hard Chromatic Scale</h1>
</div>
<section class="interactive-scale">
  <div id="how-to-use">
    Hover over a note to hear it; click to hold it. 
    If notes do not play, click anwhere on the page first.
  </div>
  <div class="note" id="C3">
    C3
    <%= audio_tag("c3pitch.m4a", id: "clip-C3")%>
  </div>
  <div class="note" id="D3">
    D3
    <%= audio_tag("d3pitch.m4a", id: "clip-D3")%>
  </div>

  <div class="note" id="Eflat3">
    Eb3
    <%= audio_tag("eflat3pitch.m4a", id: "clip-Eflat3")%>
  </div>
  <div class="note" id="Fsharp3up">
    F#↑3
    <%= audio_tag("fsharp3uppitch.m4a", id: "clip-Fsharp3up")%>
  </div>
  <div class="note" id="G3">
    G3
    <%= audio_tag("g3pitch.m4a", id: "clip-G3")%>
  </div>
  <div class="note" id="A3">
    A3
    <%= audio_tag("a3pitch.m4a", id: "clip-A3")%>
  </div>
  <div class="note" id="Bflat3">
    Bb3
    <%= audio_tag("bflat3pitch.m4a", id: "clip-Bflat3")%>
  </div>
  
  <div class="note alt-1" id="C4">
    C4
    <%= audio_tag("c4pitch.m4a", id: "clip-C4")%>
  </div>

  <div class="note alt-2" id="Csharp4up">
    C#↑4
    <%= audio_tag("csharp4uppitch.m4a", id: "clip-Csharp4up")%>
  </div>

  
  <div class="note" id="D4">
    D4
    <%= audio_tag("d4pitch.m4a", id: "clip-D4")%>
  </div>

  <div id="arrow-explanation"> 
  ↑ indicates a deviation of 1/3 semitone (33 cents, or 2 <i>moria</i>) <br>
  from 12-tone equal temperament 
 </div>

</section> 
 <%= javascript_pack_tag 'hard_chromatic.js'%>
<%= javascript_pack_tag 'scales.js'%>