

<section class="interactive-scale">
  <div class="note" id="C3">
    C3
    <%= audio_tag("c3pitch.m4a", id: "clip-C3")%>
  </div>
  <div class="note" id="Dflat3up">
    Db↑3
    <%= audio_tag("dflat3uppitch.m4a", id: "clip-Dflat3up")%>
  </div>

  <div class="note" id="E3down">
    E↓3
    <%= audio_tag("e3downpitch.m4a", id: "clip-E3down")%>
  </div>
  <div class="note" id="F3">
    F3
    <%= audio_tag("f3pitch.m4a", id: "clip-F3")%>
  </div>
  <div class="note alt-3" id="Fsharp3down">
    F#↓3
    <%= audio_tag("fsharp3downpitch.m4a", id: "clip-Fsharp3down")%>
  </div>

  <div class="note" id="G3">
    G3
    <%= audio_tag("g3pitch.m4a", id: "clip-G3")%>
  </div>
  <div class="note" id="Aflat3up">
    Ab↑3
    <%= audio_tag("aflat3uppitch.m4a", id: "clip-Aflat3up")%>
  </div>

  <div class="note" id="B3down">
    B↓3
    <%= audio_tag("b3downpitch.m4a", id: "clip-B3down")%>
  </div>
  <div class="note" id="C4">
    C4
    <%= audio_tag("c4pitch.m4a", id: "clip-C4")%>
  </div>
  <div class="note" id="D4">
    D4
    <%= audio_tag("d4pitch.m4a", id: "clip-D4")%>
  </div>
  <%= javascript_pack_tag 'soft_chromatic.js'%>
<%= javascript_pack_tag 'scales.js'%>
</section>