<!DOCTYPE html>
<html>
  <head>
    <title>Psalticart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="log-container">
        <% if member_signed_in? %>
          <%= link_to "Log Out", destroy_member_session_path, method: :delete, class: "log"%>
        <% end %>
      </div>
    <%= yield %>
  </body>
</html>
