<!DOCTYPE html>
<html>
  <head>
    <title>Psaltic Art</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Baskervville&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%# All of this (the log button and the navbar)
    needs to eventually go in a separate layout file %>
      <div class="logo">
      Psaltic Art
      </div>
      <div class="log-container">
        <% if member_signed_in? %>
          <%= link_to "Log Out", destroy_member_session_path, method: :delete, class: "log"%>
        <% else %>
          <%= link_to "Log In", new_member_session_path, class: "log"%>
        <% end %>
      </div>

      <nav>
        <ul class="nav-container">
          <li class=>
            <%= link_to "Forum", questions_path, class: "nav-child"%>
          </li><!--
          --><li>
            <%= link_to "Tones", tones_path%> 
          </li><!--
        --><li><%= link_to "Scales", scales_path %></li><!--
        --><li><a href="#">Genres</a></li><!--
        --><li><a href="#">Notation</a></li><!--
        --><li class="about"><a href="#">About this project</a></li>
        </ul>
      </nav>
    <%= yield %>
  </body>
</html>
